.accordion{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
    width: 80%;
    transition: all 0.2s;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.data{
    text-align: left;
    padding-bottom: 1rem;
    transition: all 0.2s;
}

.title svg{
    transition: all 0.4s;
}
